@model VisualAlgorithms.Models.AlgorithmTimeComplexity

<h6 class="text-center">Временная сложность</h6>
<table class="table table-bordered text-center description-table">
    @if (Model.SortingAverageTime != null)
    {
        <tr>
            <td>
                <b>В худшем</b>
            </td>
            <td>@Model.SortingWorstTime</td>
        </tr>
        <tr>
            <td>
                <b>В среднем</b>
            </td>
            <td>@Model.SortingAverageTime</td>
        </tr>
        <tr>
            <td>
                <b>В Лучшем</b>
            </td>
            <td>@Model.SortingBestTime</td>
        </tr>
    }
    else
    {
        <thead>
        <tr>
            <th>Операция</th>
            <th>В среднем</th>
            <th>В худшем</th>
        </tr>
        </thead>
        <tbody>

        @if (Model.SearchingAverageTime != null)
        {
            <tr>
                <td>
                    <label asp-for="SearchingAverageTime"></label>
                </td>
                <td>@Model.SearchingAverageTime</td>
                <td>@Model.SearchingWorstTime</td>
            </tr>
        }
        @if (Model.InsertionAverageTime != null)
        {
            <tr>
                <td>
                    <label asp-for="InsertionAverageTime"></label>
                </td>
                <td>@Model.InsertionAverageTime</td>
                <td>@Model.InsertionWorstTime</td>
            </tr>
        }
        @if (Model.DeletionAverageTime != null)
        {
            <tr>
                <td>
                    <label asp-for="DeletionAverageTime"></label>
                </td>
                <td>@Model.DeletionAverageTime</td>
                <td>@Model.DeletionWorstTime</td>
            </tr>
        }
        </tbody>
    }
</table>