@model VisualAlgorithms.Models.Algorithm

@{
    ViewData["Title"] = Model.Name;
}

<h1>Info</h1>

<div>
    <h4>AlgorithmTimeComplexity</h4>
    <hr/>
    <dl class="row">
        @if (Model.AlgorithmTimeComplexity.SortingAverageTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.SortingAverageTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.SortingAverageTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.SortingWorstTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.SortingWorstTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.SortingWorstTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.IndexingAverageTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.IndexingAverageTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.IndexingAverageTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.IndexingWorstTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.IndexingWorstTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.IndexingWorstTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.SearchingAverageTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.SearchingAverageTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.SearchingAverageTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.SearchingWorstTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.SearchingWorstTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.SearchingWorstTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.InsertionAverageTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.InsertionAverageTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.InsertionAverageTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.InsertionWorstTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.InsertionWorstTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.InsertionWorstTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.DeletionAverageTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.DeletionAverageTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.DeletionAverageTime)
            </dd>
        }
        @if (Model.AlgorithmTimeComplexity.DeletionWorstTime != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlgorithmTimeComplexity.DeletionWorstTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlgorithmTimeComplexity.DeletionWorstTime)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>