@model VisualAlgorithms.Models.Test

@{
    ViewData["Title"] = "Удаление теста";
}

<h1>Delete</h1>

<h3>Вы действительно хотите удалить тест?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Algorithm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Algorithm.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="Tests" asp-action="Edit" asp-route-id="@Model.Id">Back to List</a>
    </form>
</div>
