@model VisualAlgorithms.Models.Test

@{
    ViewData["Title"] = "Редактирование теста";
}

<div class="main-form-container col-8">
    <div class="main-form-title text-center">@Model.Name</div>
    <form class="main-form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>

        <div class="form-group">
            <label class="main-form-label" asp-for="Name" class="main-form-label"></label>
            <input asp-for="Name" value="@Model.Name" class="form-control"/>
            <span asp-validation-for="Name" class="main-form-label text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AlgorithmId" class="main-form-label"></label>
            <select asp-for="AlgorithmId" class="custom-select form-control">
                @foreach (var algorithm in ViewBag.Algorithms)
                {
                    <option value="@algorithm.Id">@algorithm.Name</option>
                }
            </select>
            <span asp-validation-for="AlgorithmId" class="main-form-label text-danger"></span>
        </div>

        <div class="form-group button-box">
            <label class="main-form-label">Вопросы</label>
            <a class="button button-success col-3" asp-controller="TestQuestion" asp-action="Create" asp-route-testId="@Model.Id" asp-route-isNewTest="false">
                Добавить вопрос
            </a>
        </div>

        <div class="form-group main-form">
            @for (var i = 0; i < Model.TestQuestions.Count; i++)
            {
                var question = Model.TestQuestions[i];
                <div class="form-group">
                    <div class="button-box">
                        <div class="col-9">
                            <div class="main-form-label">
                                Вопрос @(i + 1) <br />
                            </div>
                            @question.Question
                        </div>
                        <div class="col-3 button-box-col">
                            <a asp-controller="TestQuestion" asp-action="Edit" asp-route-id="@question.Id" class="button button-primary main-form-btn">Изменить</a>

                            @if (Model.TestQuestions.Count > 1)
                            {
                                <a asp-controller="TestQuestion" asp-action="Delete" asp-route-id="@question.Id" class="button button-danger main-form-btn">Удалить</a>
                            }
                        </div>
                    </div>
                </div>

                if (i != Model.TestQuestions.Count - 1)
                {
                    <hr/>
                }
            }
        </div>

        <div class="form-group button-box button-box-centered">
            <input type="submit" value="Готово" class="button button-primary col-5"/>
            <a asp-controller="Tests" asp-action="Delete" asp-route-id="@Model.Id" class="button button-danger col-5">Удалить тест</a>
        </div>
    </form>
</div>