@model IEnumerable<VisualAlgorithms.ViewModels.TestViewModel>
@{
    ViewData["Title"] = "Тесты";
}

    <h1 class="display-4 text-center">Тесты</h1>

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.AlgorithmName)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var test in Model)
    {
        <tr>
            <td>
                <a class="list-group-item list-group-item-action" asp-controller="Tests" asp-action="Test" asp-route-id="@test.Id">
                    @Html.DisplayFor(modelItem => test.TestName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => test.AlgorithmName)
            </td>
        </tr>
    }
    </tbody>
</table>