@model IEnumerable<VisualAlgorithms.Models.Test>
@{
    ViewData["Title"] = "Тесты";
}

<div class="main-form-title text-center">Тесты</div>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Algorithm.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var test in Model)
    {
        <tr>
            <td>@test.Name</td>
            <td>@test.Algorithm.Name</td>
            <td>
                <a class="button button-primary table-button" asp-controller="Tests" asp-action="Info" asp-route-id="@test.Id">Начать</a>
            </td>
        </tr>
    }
    </tbody>
</table>