@using Microsoft.AspNetCore.Identity
@model VisualAlgorithms.Models.Test
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = Model.Name;
}

<div class="main-form-container col-4">
    <div class="main-form-title text-center">@Model.Name</div>
    <div class="main-form">
        <dl class="row">
            <dt class="col-sm-6">
                <label asp-for="Name"></label>
            </dt>
            <dd class="col-sm-6">@Model.Name</dd>
            <dt class="col-sm-6">
                <label asp-for="Algorithm.Name"></label>
            </dt>
            <dd class="col-sm-6">@Model.Algorithm.Name</dd>
            <dt class="col-sm-6">Всего вопросов</dt>
            <dd class="col-sm-6">@Model.TestQuestions.Count</dd>
            @if (Model.UserTests.Any(ut => ut.UserId == UserManager.GetUserId(User)))
            {
                <dt class="col-sm-6">Результат</dt>
                <dd class="col-sm-6">@(Model.UserTests.Single(ut => ut.UserId == UserManager.GetUserId(User)).Result)%</dd>
            }
        </dl>
        <hr/>
        <div>
            @if (Model.UserTests.All(ut => ut.UserId != UserManager.GetUserId(User)))
            {
                <a class="button button-primary main-form-btn" asp-action="Passing" asp-route-testId="@Model.Id">Начать</a>
            }
            <a asp-action="Index" class="button main-form-btn">Назад</a>
        </div>
    </div>
</div>