@model VisualAlgorithms.Models.UserTest

@{
    ViewData["Title"] = "Реузльтат";
}

<h1>Result</h1>

<div>
    <h4>UserTest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuestions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQuestions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Tests" asp-action="Index">Готово</a>
</div>
