@model VisualAlgorithms.ViewModels.TestViewModel

@{
    ViewData["Title"] = Model.TestName;
}

<h1>Test</h1>

<div>
    <h4>TestViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlgorithmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlgorithmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionsCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
