@model VisualAlgorithms.ViewModels.AdminStatsViewModel
@{
    ViewData["Title"] = "Статистика";
}

<div class="main-form-title text-center">Статистика</div>
<form class="main-form button-box" method="get">
    <div class="form-group">
        <label class="main-form-label">Группа</label>
        <select class="custom-select" name="groupId" onchange="this.form.submit()">
            @foreach (var group in Model.Groups)
            {
                if (Model.GroupId == group.Id)
                {
                    <option value="@group.Id" selected>@group.Name</option>
                }
                else
                {
                    <option value="@group.Id">@group.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label class="main-form-label">Алгоритм</label>
        <select class="custom-select" name="algorithmId" onchange="this.form.submit()">
            @foreach (var algorithm in Model.Algorithms)
            {
                if (Model.AlgorithmId == algorithm.Id)
                {
                    <option value="@algorithm.Id" selected>@algorithm.Name</option>
                }
                else
                {
                    <option value="@algorithm.Id">@algorithm.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label class="main-form-label">Тест</label>
        <select class="custom-select" name="testId" onchange="this.form.submit()">
            @foreach (var test in Model.Tests)
            {
                if (Model.TestId == test.Id)
                {
                    <option value="@test.Id" selected>@test.Name</option>
                }
                else
                {
                    <option value="@test.Id">@test.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label class="main-form-label">Время прохождения</label>
        <select class="custom-select" name="orderBy" onchange="this.form.submit()">
            @if (Model.OrderBy == 1)
            {
                <option value="0">Сначала новые</option>
                <option value="1" selected>Сначала старые</option>
            }
            else
            {
                <option value="0" selected>Сначала новые</option>
                <option value="1">Сначала старые</option>
            }
        </select>
    </div>
</form>
<div>
    <table class="table text-center">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Группа</th>
            <th>Название теста</th>
            <th>Алгоритм</th>
            <th>Результат</th>
            <th>Время прохождения</th>
            <th>Управление</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserTests)
        {
            <tr>
                <td>@item.User.LastName</td>
                <td>@item.User.FirstName</td>
                <td>@item.User.Group.Name</td>
                <td>@item.Test.Name</td>
                <td>@item.Test.Algorithm.Name</td>
                <td>@(item.Result)%</td>
                <td>@item.PassingTime</td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="Stats">
                        <input asp-for="@Model.TestId" type="hidden"/>
                        <input asp-for="@Model.GroupId" type="hidden"/>
                        <input asp-for="@Model.AlgorithmId" type="hidden"/>
                        <input asp-for="@Model.OrderBy" type="hidden"/>
                        <input asp-for="@Model.DeletedTestId" type="hidden" value="@item.TestId"/>
                        <input asp-for="@Model.DeletedUserId" type="hidden" value="@item.UserId"/>
                        <div class="button-box-centered">
                            <a asp-controller="Admin" asp-action="UserTestStats" asp-route-testId="@item.TestId" asp-route-userId="@item.UserId">
                                <div class="icon-button">
                                    <img class="icon-primary" src="images/icons/list.svg"/>
                                </div>
                            </a>
                            <button class="icon-button" type="submit">
                                <img class="icon-primary" src="images/icons/delete.svg"/>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="main-link" asp-controller="Admin" asp-action="Index"><< Назад</a>
</div>