@model IEnumerable<VisualAlgorithms.Models.Test>

@{
    ViewData["Title"] = "Тесты";
}

<h1>Infos</h1>

<p>
    <a asp-controller="Tests" asp-action="Create">Добавить тест</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Algorithm.Name)
        </th>
        <th scope="col">
            Количество вопросов
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var test in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => test.Algorithm.Name)
            </td>
            <td>
                @test.TestQuestions.Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@test.Id">Изменить</a> |
            </td>
        </tr>
    }
    </tbody>
</table>