@model IEnumerable<VisualAlgorithms.Models.Test>

@{
    ViewData["Title"] = "Тесты";
}

<div class="main-form-title text-center">Тесты</div>
<table class="table text-center">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Algorithm.Name)</th>
        <th>Количество вопросов</th>
        <th>
            <a asp-controller="Tests" asp-action="Create">
                <div class="button button-success table-button">
                    Добавить тест
                </div>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var test in Model)
    {
        <tr>
            <td>@test.Name</td>
            <td>@test.Algorithm.Name</td>
            <td>@test.TestQuestions.Count</td>
            <td>
                <div class="button-box-centered">
                    <a asp-controller="Tests" asp-action="Edit" asp-route-id="@test.Id">
                        <div class="icon-button">
                            <img class="icon-primary" src="images/icons/edit.svg" />
                        </div>
                    </a>
                    <a asp-controller="Admin" asp-action="TestStats" asp-route-id="@test.Id">
                        <div class="icon-button">
                            <img class="icon-primary" src="images/icons/stats.svg" />
                        </div>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="main-link" asp-controller="Admin" asp-action="Index"><< Назад</a>